name: 08 - Using Variables

on:
  push:
  workflow_dispatch:

env:
  WORKFLOW_VAR: "I am a workflow environment variable"
  OVERWRITTEN: "I will be overwritten"
  UNDEFINED_VAR_WITH_DEFAULT: ${{ vars.UNDEFINED_VAR || 'default value' }}"

jobs:
  echo:
    runs-on: ubuntu-latest
    env:
      JOB_VAR: "I am a job environment variable"
      OVERWRITTEN: "I have been overwritten at the job level"
    steps:
      - name: Print Environment Variables
        env:
          STEP_VAR: "I am a step environment variable"
          STEP_VAR_2: "I am another step environment variable"
        run: |
          echo "Step env var: ${{ env.STEP_VAR }}"
          echo "Step env var 2: ${{ env.STEP_VAR_2 }}"
          echo "Job env var: ${{ env.JOB_VAR }}" 
          echo "Workflow env var: ${{ env.WORKFLOW_VAR }}"
          echo "Overwritten: ${{ env.OVERWRITTEN }}"
      - name: Overwrite Job Variable
        env:
          OVERWRITTEN: "I have been overwritten at the step level"
        run: |
          echo "Step env var: ${{ env.OVERWRITTEN }}"
  echo-2:
    runs-on: ubuntu-latest
    steps:
    - name: Print Production Variables
      run: |
        echo "Repository variable: ${{ vars.REPOSITORY_VAR }}"
  echo-prod:
    runs-on: ubuntu-lastest
    environment: prod
    steps:
      - name: Print Variables
        run: |
          echo "Repository variable: ${{ vars.REPOSITORY_VAR }}"
          echo "Environment variable: ${{ vars.TARGET_VAR }}"
  echo-undefined:
    runs-on: ubuntu-latest
    steps:
    - name: Print Undefined Variables
      run: |
        echo "Organization variable: ${{ env.UNDEFINED_VAR_WITH_DEFAULT }}"



        
