name: 16 - Working with Environments

on:
  workflow_dispatch:
    inputs:
      target-env:
        type: environment
        default: staging

jobs:
  echo:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target-env }}
    env:
      my-environment-value: ${{ vars.MY_ENVIRONMENT_VALUE || 'default_value' }}
    steps:
      - name: Echo variables
        run: |
          echo "Environment variable: ${{ env.my-environment-value }}"
